* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.sectionBoard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative;
}

.block {
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 0;
    background-color: rgb(240,240,240);
}

.lightBackgound {
    background-color: rgb(216,216,216);
}

.darkBackground {
    background-color: rgb(168, 168, 168);
}

.selected {
    background-color: rgba(180, 200, 210, 0.8);
    margin: -2px;
    padding: 2px;
}

.piece {
    height: 80%;
}
